<form method="POST" class="mt-5">
  <div class="form-group">
    <label for="inputTitle">Заголовок</label>
    <input type="text" value="<%= book.title %>" name="title" class="form-control" id="inputTitle">
  </div>

  <div class="form-group">
    <label for="inputDesc">Описание</label>
    <textarea rows="3" name="description" class="form-control" id="inputDesc"><%= book.description %></textarea>
  </div>
  <div class="form-group">
    <label for="inputAuthors">Авторы</label>
    <textarea rows="3" name="authors" class="form-control" id="inputAuthors"><%= book.authors %></textarea>
  </div>
  <div class="form-group">
    <label for="inputFavorite">Избранное</label>
    <textarea rows="3" name="favorite" class="form-control" id="inputFavorite"><%= book.favorite %></textarea>
  </div>
  <div class="form-group">
    <label for="inputFileCover">Cover</label>
    <textarea rows="3" name="fileCover" class="form-control" id="inputFileCover"><%= book.fileCover %></textarea>
  </div>
  <div class="form-group">
    <label for="inputFileName">Название</label>
    <textarea rows="3" name="fileName" class="form-control" id="inputFileName"><%= book.fileName %></textarea>
  </div>
  <div class="form-group">
    <label for="inputFileBook">Фото</label>
    <textarea rows="3" name="fileBook" class="form-control" id="inputFileBook"><%= book.fileBook %></textarea>
  </div>

  <div class="form-group text-right ">
    <button type="submit" class="btn btn-primary">Сохранить</button>
  </div>
</form>