<%- include("../partials/layout-start", {title: title}) %>
  <%- include("../partials/menu") %>
    <h1>
      <%= title %>
    </h1>

    <div class="row">
      <div class="col-sm-8">
        <div class="card">
          <div class="card-body">

            <h5 class="card-title">
              <%= book.title %>
            </h5>
            <p class="card-text">
              <%= book.description %>.
            </p>
            <p class="card-text">
              <%= book.authors %>.
            </p>
            <p class="card-text">
              <%= book.favorite %>.
            </p>
            <p class="card-text">
              <%= book.fileCover %>.
            </p>
            <p class="card-text">
              <%= book.fileName %>.
            </p>

            <div class="text-right">
              <div class="views d-inline"></div>
              <i class="fa fa-eye" aria-hidden="true"></i>
              <a class="btn btn-sm btn-primary" href="/book/update/<%= book.id %>">
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </a>
              <form action="/book/delete/<%= book.id %>" method="POST" class="d-inline">
                <button class="btn btn-sm btn-danger">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
              </form>
            </div>

          </div>
        </div>
      </div>
    </div>

    <%- include("../partials/layout-end") %>

      <% let bookS=book %>
        <script>
          let b = '<%- JSON.stringify(bookS) %>'
          const current = JSON.parse(b)
          function some() {
            fetch(`http://localhost:81/counter/${current._id}/incr`, {
              method: `POST`,
              headers: {
                "Content-Type": "application/json"
              }
            }).then(res => res.json())
              .then(data => {
                views = data.views
                let doc = document.querySelector(`.views`);
                doc.textContent = views
              })
          }
          some()
        </script>